<%= render "shared/second-header" %>

<% if Topic.exists? %>
<div class="topics__master">
  <input type="checkbox" id="topics__menu-btn">
  <label for="topics__menu-btn" class="topics__menu-btn-label">
    <%# <button class="topics__menu-btn"> %>
      <span></span>
      <span></span>
      <span></span>
    <%# </button> %>
  </label>
  <nav class="topics__menu type">
    <p>- トピック一覧 -</p>
    <ul>
      <% @topics.each do |topics| %>
        <li>
          <span>
            <%= link_to topic_path(topics.id), class:"topics__menu-link" do %>
              <%= topics.title %>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </nav>
  <div class="topics__base">
    <% @topics.each do |topics| %>
    <article class="topics__frame type">
      <%= link_to topic_path(topics.id), class:"topics__link" do %>
      <div class="topics__top">
        <div class="topics__title">
          <span class="brock">
            <%= topics.title %>
          </span>
          <div class="line"></div>
        </div>
        <div class="topics__name">
          <div class="line"></div>
          <span class="topics__name-brock">
            <span>
              <%= topics.user.name %>
            </span>
            <span>
              <%= topics.created_at.strftime('%y/%m/%d') %>
            </span>
          </span>
        </div>
      </div>
      <div class="topics__content">
        <%= topics.content %>
      </div>
      <% end %>
    </article>  
    <% end %>
  </div>
</div>
<% else %>
<%= render "shared/temporary_topic_index" %>
<% end %>

<%= render "shared/footer" %>