<%= render "shared/second-header" %>

<div class="t-s-base">
  <div class="t-s-flame">
    <div class="topics s-size">
      <div class="topic-top">
        <div class="topic-title">
          <div class="line">
            <%= @topic.title %>
          </div>
          <div class="block"></div>
        </div>
        <div class="name-date">
          <div class="name">
            <span>
              <%= @topic.user.name %>
            </span>
            <span>
              <%= @topic.created_at.strftime('%y/%m/%d') %>
            </span>
          </div>
        </div>
      </div>
      <div class="t-content">
        <%= @topic.content %>
      </div>
    </div>

    <div class="t-s-comments">
      <div class="t-s-comment-form">
        <% if user_signed_in? %>
          <%= form_with model: [@topic, @comment], id: "comment-form" do |f| %>
            <%= f.text_area :text, class:"comment-text" %>
            <%= f.submit "コメントする", class:"comment-submit" %>
          <% end %>
        <% end %>
      </div>
      <div class="t-s-comment">
        <h4>コメント一覧 </h4>
        <% @comments.each do |comment| %>
        <div class="comment" id="comment-f">
          <p class="user-info"><%= comment.user.name %></p>
          <p class="text"><%= comment.text %></p>
        </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<%= render "shared/footer" %>