<%= render "shared/second-header" %>

<% if User.exists? %>
<div class="member-block-master">
  <div class="member-list">
    <% @profiles.each.with_index(1) do |member, index| %>
      <div class="info-frame">
        <label for="<%= index %>">
        <div class="member-image-content">
          <%= image_tag member.image.variant( resize: "50%"), class: "member-image" if member.image.attached? %>
        </div>
        <div>
          <span class="profile-text-p-n">
            <p class="profile-text-top">
              <%= member.position.name %>
            </p>
            <p class="profile-text-top top-blank">
              <%= member.user.name %>
            </p>
          </span>
          <span class="profile-text">
            <p>担当作品
            <%= member.works %>
            </p>
          </span>
        </div>
        <input type="checkbox" id="<%= index %>">
        <div class="blowing">
          <p><%= member.about_me %></p>
        </div>
        </label>
      </div>
    <% end %>
  </div>
</div>
<% else %>
<%= render "shared/temporary_member_index" %>
<% end %>

<%= render "shared/footer" %>