<%= render "shared/second-header" %>

<div class="member-block-master">
  <div class="member-block">
    <div class="member-list">
      <% @profiles.each do |member| %>
        <div class="info-frame">
          <div class="member-image-content">
            <%= image_tag member.image.variant( resize: "50%"), class: "member-image" if member.image.attached? %>
          </div>
          <div>
            <span class="profile-text-p-n">
              <p class="profile-text-top">
                <%= member.position.name %>
              </p>
              <p class="profile-text-top top-blank">
                <%= member.user.name %>
              </p>
            </span>
            <span class="profile-text">
              <%# <%= member.about_me %>
              <p>担当作品
              <%= member.works %>
              </p>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>