<header class="main-header">
  <div class="temporary_title">
    <div class="company">
      CMBeta
    </div>
  </div>
  <nav class="nav">
    <ul class="list-first">
      <li><%= link_to 'top', root_path, class:"work-list" %></li>
      <li><%= link_to 'work', works_path, class:"work-list" %></li>
      <li><%= link_to 'member', users_path, class:"work-list" %></li>
      <li><%= link_to 'topic', "#", class:"work-list" %></li>
      <li><%= link_to 'company', "#", class:"work-list" %></li>
      <li><%= link_to 'contact', "#", class:"work-list" %></li>
    </ul>
  </nav>
</header>