<header class="fix-content">
  <div>
    <% if current_page?(works_path) %>
      <h1 class="top">WORK</h1>
    <% else current_page?(users_path) %>
      <h1 class="top">MEMBER</h1>
    <% end %>
  </div>
    <nav class="nav">
    <ul class="list-first">
      <li><%= link_to 'top', root_path, class:"work-list" %></li>
      <li><%= link_to 'work', works_path, class:"work-list" %></li>
      <li><%= link_to 'member', users_path, class:"work-list" %></li>
      <li><%= link_to 'topic', "#", class:"work-list" %></li>
      <li><%= link_to 'company', "#", class:"work-list" %></li>
      <li><%= link_to 'contact', "#", class:"work-list" %></li>
    </ul>
  </nav>
</header>



<%# 後に記述 %>
    <%# <% else current_page?(topics_path) %>
      <%# <h1 class="top">TOPIC</h1> %>
    <%# <% else current_page?(companys_path) %>
      <%# <h1 class="top">COMPANY</h1> %>
    <%# <% else current_page?(contacts_path) %>
      <%# <h1 class="top">CONTACT</h1> %>
