<header class="fix-content">
  <div>
    <% if current_page?(works_path) %>
      <h1 class="top">WORK</h1>
    <% elsif current_page?(users_path) %>
      <h1 class="top">MEMBER</h1>
    <% elsif current_page?(topics_path) %>
      <h1 class="top">TOPIC</h1>
    <% elsif current_page?(companies_path) %>
      <h1 class="top">COMPANY</h1>
    <% else current_page?(new_contact_path) %>
      <h1 class="top">CONTACT</h1>
    <% end %>
  </div>
  <nav class="nav">
    <input type="checkbox" id="subnav">
    <label for="subnav" class="subnav">
      <div class="subnav-btn"></div>
    </label>
    <ul class="subnav-list">
      <li><%= link_to 'top', root_path, class:"sub-list" %></li>
      <li><%= link_to 'work', works_path, class:"sub-list" %></li>
      <li><%= link_to 'member', users_path, class:"sub-list" %></li>
      <li><%= link_to 'topic', topics_path, class:"sub-list" %></li>
      <li><%= link_to 'company', companies_path, class:"sub-list" %></li>
      <li><%= link_to 'contact', new_contact_path, class:"sub-list" %></li>
    </ul>
  </nav>
</header>