
<div class="master-base">
  <span class="topic-menu type">
    <p>- トピック一覧 -</p>
    <ul>
      <li>
        <span>
          <%= link_to '#', class:"t-link-sub" do %>
            △△(〇〇会社) TVCM制作しました！
          <% end %>
        </span>
      </li>
      <li>
        <span>
          <%= link_to '#', class:"t-link-sub" do %>
            綺麗な景色
          <% end %>
        </span>
      </li>
      <li>
        <span>
          <%= link_to '#', class:"t-link-sub" do %>
            ある日。。。
          <% end %>
        </span>
      </li>
    </ul>
  </span>
  <div class="topic-base">

    <article class="topics type">
      <%= link_to '#', class:"t-link" do %>
      <div class="topic-top">
        <div class="topic-title">
          <span class="brock">
            △△(〇〇会社) TVCM制作しました！
          </span>
          <div class="line"></div>
        </div>
        <div class="name-date">
          <div class="line"></div>
          <span class="name-date-brock">
            <span>
              高畑俊樹
            </span>
            <span>
              2022-03-04
            </span>
          </span>
        </div>
      </div>
      <div class="t-content">
        <div>こんにちわ！<br>皆さん、いかがお過ごしでしょうか？<br><br>
        昨日より弊社で制作した△△のTVCM□□篇が公開されております！<br>
        本ホームページのworkページにも追加しましたので、是非ご視聴下さい！<br><br>
        youtubuでも公開されております。<br>（下にリンクも載せておきます）<br>
        <a href="https://www.google.com/search?q=cm&amp;oq=cm&amp;aqs=chrome..69i57j69i59j0i131i433i512j0i4i131i433i512j0i131i433i512l6.2403j0j15&amp;sourceid=chrome&amp;ie=UTF-8">https://www.google.com/search?q=cm&amp;oq=cm&amp;aqs=chrome..69i57j69i59j0i131i433i512j0i4i131i433i512j0i131i433i512l6.2403j0j15&amp;sourceid=chrome&amp;ie=UTF-8
        </a><br><br>宜しくお願い致します！！</div>
      </div>
      <% end %>
    </article>

    <article class="topics type">
      <%= link_to '#', class:"t-link" do %>
      <div class="topic-top">
        <div class="topic-title">
          <span class="brock">
            綺麗な景色
          </span>
          <div class="line"></div>
        </div>
        <div class="name-date">
          <div class="line"></div>
          <span class="name-date-brock">
            <span>
              小川華
            </span>
            <span>
              2022-03-04
            </span>
          </span>
        </div>
      </div>
      <div class="t-content">
        <div>本日は早朝から撮影でした♪<br><br>空気が澄んでいて、綺麗な写真が撮れたので共有します！<br>
        <%# <action-text-attachment sgid="BAh7CEkiCGdpZAY6BkVUSSI1Z2lkOi8vb3JnaHAtY21uL0FjdGl2ZVN0b3JhZ2U6OkJsb2IvNz9leHBpcmVzX2luBjsAVEkiDHB1cnBvc2UGOwBUSSIPYXR0YWNoYWJsZQY7AFRJIg9leHBpcmVzX2F0BjsAVDA=--19a182ddbdab149ab02cc0cc8501e9c69a149c6c" content-type="image/jpeg" url="http://localhost:3000/Users/sawaidaiki/projects/original_apps/orghp_ex01/public/image/sample.jpeg" filename="sample.jpeg" filesize="48301" width="1000" height="667" presentation="gallery"></action-text-attachment> %>
        <img src="image/sample.jpeg" width="100%" alt="仮トピック画像1">
        <br>放映、ローンチ決まったらまたお知らせします！<br><br>では、また。</div>
      </div>
      <% end %>
    </article>

    <article class="topics type">
      <%= link_to '#', class:"t-link" do %>
      <div class="topic-top">
        <div class="topic-title">
          <span class="brock">
            ある日。。。
          </span>
          <div class="line"></div>
        </div>
        <div class="name-date">
          <div class="line"></div>
          <span class="name-date-brock">
            <span>
              高畑俊樹
            </span>
            <span>
              2022-03-04
            </span>
          </span>
        </div>
      </div>
      <div class="t-content">
        <div>本日は朝から新規案件のキックオフミーティングでした！<br><br>楽しいだな〜<br><br>午後からも頑張るぞー<br>
        <%# <action-text-attachment sgid="BAh7CEkiCGdpZAY6BkVUSSI1Z2lkOi8vb3JnaHAtY21uL0FjdGl2ZVN0b3JhZ2U6OkJsb2IvOT9leHBpcmVzX2luBjsAVEkiDHB1cnBvc2UGOwBUSSIPYXR0YWNoYWJsZQY7AFRJIg9leHBpcmVzX2F0BjsAVDA=--a79990e19736218acc553783a655d9179f4238a8" content-type="image/jpeg" url="http://localhost:3000/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--16b9397808ebc7ee5f0ac0af0b517a683bec4fe2/IMG_4408.JPG" filename="IMG_4408.JPG" filesize="1605022" width="3264" height="2448" presentation="gallery"></action-text-attachment> %>
        <img src="image/IMG_4408.JPG" width="100%" alt="仮トピック画像2">
        <br>写真はお昼のリンガーハットです。<br>美味でした。<br><br>では〜</div>
      </div>
      <% end %>
    </article>

  </div>
</div>
