<!DOCTYPE html>
<html>
  <head>
    <title>OrgHP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.typekit.net/igv0jfw.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Source+Sans+Pro&family=Yusei+Magic&display=swap" rel="stylesheet">

    <meta name="robots" content="noindex, nofollow, noarchive">
    
  </head>

  <body>
    <%= video_tag("/videos/16mm_Scratched_lite.mp4",
      loop: :true,
      autoplay: :true,
      muted: :true,
      playsinline: :true,
      class: "film") %>
    <%= yield %>
  </body>
</html>
